*{
    margin: 0;
    box-sizing: 0;
}
#nav{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
#nav > #logo{
    color: lightgrey;
}
#menu > ul{
    display: flex;
    list-style: none;
    font-family: system-ui;
    font-weight: bold;
}
#menu > ul > li{
    font-size: 12px;
    margin: 10px;
}
#principal{
    width: 100vh;
    margin: auto;
}
.container{
    display: grid;
    gap: 10px;
}
#titulo{
    margin: auto;
    text-align: center;
    width: 500px;
}
.container > .item{
    grid-row: 3;
    padding: 10px;
}
.container > .item > #txt{
    width: 280px;
}
.imagem{
    width: 150px;
    height: 150px;
    margin-top: 25%;
    border-radius: 100%;
    background-color: lightgrey;
}
h1,h3,p{
    padding: 5px;
    font-family: system-ui;
}
footer{
    background-color: black;
    padding: 20px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer > p{
    font-family: arial;
    text-align: center;
    margin: auto;
    width: 380px;
    font-size: 10pt;
}